rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read access for everyone to prevent broken images
      allow read: if true;
      // Allow write access for all authenticated users to prevent permission errors
      allow write: if request.auth != null;
    }
  }
}
